@import 'normalize.css';
@import './typography.css';
@import './colors.css';

:root {
  /* CSS Variables for the XXX theme */

  /* Fonts */
  --font-family-primary: "Karla", helvetica, arial, verdana, droid-sans, sans-serif;
  --font-family-secondary: "Rubik", helvetica, arial, verdana, droid-sans, sans-serif;

  /* Global variables */
  --text-color: var(--color-grey-900);

  /* Misc */
  --scrollbar-width: 15px;

  /* Grid */
  --column-gap: 1.5rem;
  --grid-padding: 1.5rem;

  @media (width >= 768px) {
    --column-gap: 3rem;
    --grid-padding: 3rem;
  }

  @media (width >= 1440px) {
    --grid-padding: calc((100vw - 144rem) / 2);
  }

  --grid-12x: calc(100vw - var(--scrollbar-width) - (var(--grid-padding) * 2) - (var(--column-gap) * 2));
  --grid-1x: calc((var(--grid-12x) - (var(--column-gap) * 11)) / 12);
  --grid-2x: calc((var(--grid-1x) * 2) + (var(--column-gap) * 1));
  --grid-3x: calc((var(--grid-1x) * 3) + (var(--column-gap) * 2));
  --grid-4x: calc((var(--grid-1x) * 4) + (var(--column-gap) * 3));
  --grid-5x: calc((var(--grid-1x) * 5) + (var(--column-gap) * 4));
  --grid-6x: calc((var(--grid-1x) * 6) + (var(--column-gap) * 5));
  --grid-7x: calc((var(--grid-1x) * 7) + (var(--column-gap) * 6));
  --grid-8x: calc((var(--grid-1x) * 8) + (var(--column-gap) * 7));
  --grid-9x: calc((var(--grid-1x) * 9) + (var(--column-gap) * 8));
  --grid-10x: calc((var(--grid-1x) * 10) + (var(--column-gap) * 9));
  --grid-11x: calc((var(--grid-1x) * 11) + (var(--column-gap) * 10));
}

/*
 * Reset box-sizing property
 */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*
 * Define global typography
 */
html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

html,
body {
  font-family: var(--font-family-primary);
  color: var(--text-color);
}

body {
  font-size: 1.6rem;
}

#__next {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
