.wrapper {
  grid-column: 2 / -2;
  position: relative;
  width: 100%;
  padding-block-start: 5rem;
  padding-block-end: 5rem;

  & p {
    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h1 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h3 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h4 {
    color: var(--color-black);
    font-size: 1.8rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h5 {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }
}

.author {
  width: 100%;
  margin-block-end: 5rem;
}

.album {
  margin-block-start: 3rem;
}

.albumSwipe {
  padding: 2rem;
  text-align: center;
}
