.videoWrapper {
  grid-column: 1 / -1;
  position: relative;
  padding-bottom: calc(8 / 16 * 100%);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  & .videoElement {
    transform: scale(1.5);
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  & .shape {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
    transform: none;
    pointer-events: none;

    & svg {
      pointer-events: none;
      height: 100%;
      width: 100%;
    }
  }

  & .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
  }

  & .overlaySmall {
    bottom: 0;
    left: 0;
    height: 100%;
    max-height: 32rem;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    z-index: 2;
  }

  & .overlayLoading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;

    & > div {
      background: var(--color-orange);
      flex: 1;
      transition: opacity 0.35s ease-out;
      z-index: 3;
    }
  }

  & .titleWrapper {
    position: absolute;
    bottom: 10rem;
    color: var(--color-white);
    z-index: 97;
    width: 100%;
  }

  & .title {
    grid-column: 3 / -3;
  }
}

.overlayLoadingLoaded {
  & > div {
    opacity: 0;
  }
}

.city {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 60rem;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(20%, -20%);
  width: 60rem;
  z-index: -1;
}
