.wrapper {
  grid-column: 1 / -1;
  position: relative;
  width: 100%;
}

.titleBar {
  grid-column: 1 / -1;
  padding-block-start: 5rem;
  padding-block-end: 5rem;

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
  }
}

.news {
  grid-column: 1 / -1;
  width: 100%;
  align-items: center;

  &:not(:last-child) {
    margin-block-end: 4rem;
  }

  @media (width >= 768px) {
    margin-block-end: 4rem;
  }

  & .projectLink {
    color: var(--color-black);
  }
}

.image {
  grid-column: 1 / -1;
  margin-block-end: 3rem;

  @media (width >= 768px) {
    margin-block-end: 0;
    grid-column: span 3;
  }
}

.imageWrapper {
  position: relative;
  aspect-ratio: 12 / 9;
  border-radius: 0.4rem;
  overflow: hidden;
}

.content {
  grid-column: 1 / -1;

  @media (width >= 768px) {
    grid-column: span 9;
  }

  & h3 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    line-height: 1.2;
    font-size: 3.2rem;
  }

  & p {
    margin-block-start: 2.4rem;
    margin-block-end: 2.4rem;
  }
}

.buttonBar {
  grid-column: 1 / -1;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  justify-content: center;
  display: flex;

  @media (width >= 768px) {
    padding-block-start: 5rem;
    padding-block-end: 5rem;
  }
}
