.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
}

.sectionTop {
  background-color: var(--color-black);
  width: 100%;
}

.sectionMiddle {
  background-color: var(--color-orange);
  flex: 0 0 2.5rem;
  width: 100%;
}

.sectionBottom {
  background-color: var(--color-black);
  flex: 0 0 2rem;
  width: 100%;
}

.linksBar {
  grid-column: 3 / -3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;

  & svg {
    width: 6rem;
  }

  & ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & li {
      list-style: none;
      margin: 0 0 0 1rem;
    }
  }

  & a {
    color: var(--color-white);
    position: relative;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

    &.normal {
      display: block;
      margin-left: 1rem;

      &::before,
      &::after {
        background-color: var(--color-orange);
        bottom: 0;
        content: "";
        height: 0.25rem;
        position: absolute;
        width: 0;
      }

      &::before {
        right: 50%;
        transition: all 0.2s linear;
      }

      &::after {
        left: 50%;
        transition: all 0.2s linear;
      }

      &:hover {
        &::before {
          width: 50%;
        }

        &::after {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .linksBar {
    display: block;

    & a {
      display: block;
      margin-bottom: 2.5rem;
      padding-bottom: 0;
      text-align: center;
    }

    & ul {
      display: flex;

      & li {
        flex: 1;

        & a {
          margin-bottom: 0;
        }
      }
    }
  }
}

.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  grid-column: 3 / -3;

  & ul {
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      list-style: none;
      margin: 0 1rem 0 0;
    }
  }

  & p {
    margin: 0;
    padding: 0;
  }

  & svg {
    height: 3.6rem;
  }

  & a {
    color: var(--color-white);
    position: relative;
    text-decoration: none;
    height: 100%;
    display: inline-flex;
    align-items: center;

    &.normal {
      display: block;
      margin-left: 1rem;

      &::before,
      &::after {
        background-color: var(--color-orange);
        bottom: 0;
        content: "";
        height: 0.25rem;
        position: absolute;
        width: 0;
      }

      &::before {
        right: 50%;
        transition: all 0.2s linear;
      }

      &::after {
        left: 50%;
        transition: all 0.2s linear;
      }

      &:hover {
        &::before {
          width: 50%;
        }

        &::after {
          width: 50%;
        }
      }
    }
  }
}
