.wrapper {
  grid-column: 1 / -1;
  position: relative;
  width: 100%;

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    line-height: 1.2;
    font-size: 2.4rem;
    margin-block-end: 2.4rem;
  }
}

.partnersTitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: Rubik, sans-serif;
}

.sponsorsActivities {
  margin: 0 0 2rem;
  padding: 0;

  & li {
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 5px;

    &.textSponsor {
      background-color: rgb(246, 246, 246);
    }
  }
}

.titleBar {
  grid-column: 1 / -1;
}

.leftCol {
  grid-column: 1 / 7;

  & p {
    margin-block-end: 4rem;
  }

  & p {
    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h1 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h3 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h4 {
    color: var(--color-black);
    font-size: 1.8rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }

  & h5 {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;

    &:not(:last-child) {
      margin-block-end: 3rem;
    }
  }
}

.rightCol {
  grid-column: 7 / -1;
}

.gridCol {
  grid-column: span 6;
}

.col {
  grid-column: 1 / -1;
}

.quote {
  grid-column: 1 / -1;
}

.logoImg {
  grid-column: 1 / -1;
}

.album {
  margin-block-start: 3rem;
}

.albumSwipe {
  padding: 2rem;
  text-align: center;
}
