.col {
  grid-column: 1 / -1;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  padding-block-start: 4rem;
  padding-block-end: 4rem;

  & div.line {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    & a {
      padding-inline-start: 2.4rem;
      padding-inline-end: 2.4rem;

      &.icon {
        height: 2.4rem;
      }
    }
  }
}

.emptyDiv {
  padding-block-end: 8rem;
}
