.wrapper {
  grid-column: 1 / -1;
  position: relative;
  padding-block-end: 4rem;
  width: 100%;
}

.titleBar {
  grid-column: 1 / -1;
  padding-block-start: 5rem;
  padding-block-end: 5rem;

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
  }
}

.leftCol {
  grid-column: 1 / -1;
  margin-block-end: 3rem;

  @media (width >= 768px) {
    margin-block-end: 0;
    grid-column: 1 / 7;
  }

  padding-block-start: 2rem;
  padding-block-end: 2rem;

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
  }
}

.rightCol {
  grid-column: 1 / -1;

  @media (width >= 768px) {
    grid-column: 7 / -1;
  }

  padding-block-start: 2rem;
  padding-block-end: 2rem;

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
  }
}

.quote {
  grid-column: 1 / -1;
}
