
.button {
  text-decoration: none;
  color: var(--color-white);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  background: none;
  height: 4.8rem;
  margin: 0;
  border-radius: 2.4rem;
  transition: color 0.2s linear, background-color 0.2s linear;
  width: 100%;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
  padding-block-start: 1.5rem;
  padding-block-end: 1.3rem;
  font-family: var(--font-family-secondary-bold);
  font-weight: normal;
  font-size: 1.6rem;
  box-shadow: var(--shadow);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-orange-dark);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--color-white-100);
    color: var(--color-grey-500);
    cursor: not-allowed;
  }

  @media (width >= 768px) {
    width: auto;
  }
}

.buttonPrimary {
  &:not(:disabled) {
    background: var(--color-orange);

    &:hover {
      color: var(--color-white);
      background-color: var(--color-orange-dark);
    }
  }
}

.buttonBlank {
  &:not(:disabled) {
    background: var(--color-white);
    border: 2px solid var(--color-orange);
    color: var(--color-orange);

    &:hover {
      color: var(--color-orange-dark);
      border: 2px solid var(--color-orange-dark);
    }
  }
}
