.wrapper {
  grid-column: 1 / -1;
  position: relative;
  width: 100%;
}

.titleBar {
  grid-column: 1 / -1;
  padding-block-start: 5rem;
  padding-block-end: 5rem;

  & h2 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
  }
}

.project {
  grid-column: 1 / -1;
  width: 100%;
  align-items: center;

  &:not(:last-child) {
    margin-block-end: 4rem;
  }

  @media (width >= 768px) {
    margin-block-end: 4rem;
    margin-block-start: 4rem;
  }

  & .projectLink {
    color: var(--color-black);
  }
}

.projectPoster {
  grid-column: span 6;

  @media (width >= 768px) {
    grid-column: span 3;
  }
}

.imagePoster {
  width: 100%;
  position: relative;
  aspect-ratio: 10 / 14;
  border-radius: 0.4rem;
  overflow: hidden;
}

.image {
  grid-column: 1 / -1;
  grid-row: 1;
  margin-block-end: 2rem;

  @media (width >= 768px) {
    grid-column: span 5;
    margin-block-end: 0;
  }
}

.imageReversed {
  @media (width >= 768px) {
    grid-column: 8 / span 5;
  }
}

.imageWrapper {
  transform: rotate(-1.2deg);
  position: relative;
  aspect-ratio: 12 / 9;
  border-radius: 0.4rem;
  overflow: hidden;
}

.imageWrapperReversed {
  transform: rotate(1.2deg);
}

.contentReversed {
  grid-column: 1 / -1;

  @media (width >= 768px) {
    grid-column: 1 / span 7;
  }
}

.content {
  grid-column: 1 / -1;
  grid-row: 2;

  @media (width >= 768px) {
    grid-column: span 7;
    grid-row: 1;
  }

  & h3 {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-weight: bold;
    line-height: 1.2;
    font-size: 3.2rem;

    &.titleMargin {
      margin-block-start: 2rem;

      @media (width >= 768px) {
        margin-block-start: 0;
      }
    }
  }

  & p {
    margin-block-start: 2.4rem;
    margin-block-end: 2.4rem;
  }
}

.buttonBar {
  grid-column: 1 / -1;
  justify-content: center;
  display: flex;
  padding-block-start: 2rem;
  padding-block-end: 2rem;

  @media (width >= 768px) {
    padding-block-start: 5rem;
    padding-block-end: 5rem;
  }
}
